<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  <a class="navbar-brand" href="/">Locus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= suburbs_path %>">Suburbs</a>
      </li>
    </ul>
  </div>
</nav>
<!-- NavBar END -->

<style>
.parallax_home0 {
min-height: 300px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
background-color: white;
margin-bottom: 0;
}

.parallax_home0 h1 {
  color: #3941bd;
}

.parallax_home1 {
min-height: 615px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
background-image: url('https://images.pexels.com/photos/2253879/pexels-photo-2253879.jpeg');
margin-bottom: 0;
}

.parallax_home2 {
min-height: 615px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
background-image: url('https://images.pexels.com/photos/2055231/pexels-photo-2055231.jpeg');
margin-bottom: 0;
}

.parallax_home3 {
min-height: 615px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
background-image: url('https://images.pexels.com/photos/936313/pexels-photo-936313.jpeg');
margin-bottom: 0;
}

.parallax_home4 {
min-height: 300px;
background-attachment: fixed;
background-size: cover;
background-position: 50% 50%;
background-color: white;
margin-bottom: 0;
}

.text_color_white {
  color: white;
  font-size: 18px;
}
</style>




<div class="jumbotron jumbotron-fluid parallax_home0">
  <div class="container">
    <h1 class="jumbo_text_welcome font-weight-bolder">Welcome to Locus!</h1>
    <p class="text_align">Your easy guide to the Suburbs.</p>
    <p class="text_align">We have put in the hard work to make it easier for you to find your next home.</p> <p class="text_align">Locus is for...</p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid parallax_home1">
  <div class="container">
    <h1 class="jumbo_text_welcome font-weight-bolder">Families</h1>
    <p class="text_align text_color_white">...who are "overwhelmed, trying to find a place that meets the requirements of their family." </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid parallax_home2">
  <div class="container">
    <h1 class="jumbo_text_welcome font-weight-bolder">Couples</h1>
    <p class="text_align text_color_white">...looking for "an affordable neighbourhood with a good reputation." </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid parallax_home3">
  <div class="container">
    <h1 class="jumbo_text_welcome font-weight-bolder">Young Professionals</h1>
    <p class="text_align text_color_white">...wanting "something simple that tells me exactly where I should live, without having to waste my time looking through twenty options." </p>
  </div>
</div>

<div class="jumbotron jumbotron-fluid parallax_home4">
<div class="container">
  <h1 class="jumbo_text_welcome font-weight-bolder">Let's get started!</h1>
  <p class="text_align">We have put in the hard work to make it easier for you to find your next home.</p>
</div>
</div>
