// Place all the styles related to the Suburbs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// -- Heading Text -- //
.text_align {
  text-align: center;
}

.suburbs_head_h {
  margin-top: 50px;
}

.suburbs_head_p {
  margin-bottom: 40px;
}

// -- Filter section -- //
.filter_card {
  width:250px;
  display: inline-block;
  padding: 30px;
  border-right: solid 1px #E0E0E0;
  border-top: solid 1px #E0E0E0;

}

.slidecontainer {
  padding-top: 1rem;
}


// -- Suburb List content -- //
.suburbs_cardholder {
  width: 903px;
  margin: 0 auto;
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
}

.suburb_card_link {
  color: #343a40;
  display: inline-block;
}

.suburb_card_link:hover {
  color: #343a40;
}

.suburb_card div {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 15px;
  border-radius: 0;
}

.suburb_card img {
  border-radius: 0;
}

.suburb_card_button {
  color: #3941bd;
  border-color: #3941bd;
}

.suburb_card_button:hover {
  color: white;
  background-color: #3941bd;
  border-color: #3941bd;
}

.suburb_card2 div {
  margin-bottom: 10px;
}

#map {
  width: 600px;
  height: 400px;
}

#pano {
  width: 200px;
  height: 200px;
}


.suburb_card2:hover {
  transition-timing-function: ease-in-out;
  transition: 0.3s;
  box-shadow: 2px 4px 10px #BEBEBE;
}
