// Place all the styles related to the Suburbs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";

.fa-bus {
	color: rgb(0, 173, 233);
}

.fa-train {
	color: rgb(226, 109, 35);
}

html {
	scroll-behavior: smooth;
}

// -- Features NavBar -- //
.features_navbar {
  background-color: #3941bd;
  height: 55px;
  padding: 20px;
  padding-top: 14px;
}

.features_navbar a {
  color: white;
}

.features_navbar a:hover {
text-decoration: none;
padding-bottom: 7px;
border-bottom: solid 3px white;
}

.active_underline {
  padding-bottom: 7px;
  border-bottom: solid 3px white;
}


// -- jumbotron -- //
.jumbo_text {
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: 200px;
	font-size: 50px;
}

// -- Block Backgrounds - Whites -- //
.show_amenities, .show_living_cost, .show_transport  {
  margin: 0 auto;
  padding: 50px 60px;
}

// -- Block Backgrounds - Greys -- //
.show_summary, .show_lifestyle, .show_entertainment, .show_renting {
  margin: 0 auto;
  padding: 50px 60px;
  background-color: #F8F8F8;
}

// -- Ammenities Block -- //
.inline_block {
  display: inline-block;
  vertical-align: middle;
}

.top_spacing {
  margin-top: 10px;
}

.top_spacing_specific{
	margin-top: 18px;
}

.button_green {
  border-color: #0ea800;
  color: #0ea800;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
	border-radius: 5px;
}

.button_green:hover {
	transition-timing-function: ease-in-out;
	transition: 0.2s;
	background-color: #0ea800;
	color: white;
}

.dropdown_button {
	background-color: #f8f9fa;
	border-color: #f8f9fa;
	height: 32px;
	border-radius: 5px;
}

.text_input {
border: 1px solid #ccc;
border-radius: 4px;
padding: 3px 7px;
}

.btn-danger {
  border: none;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
	border-radius: 5px;
}

.reset_button {
	color: grey;
	border-color: grey;
	padding: 3px 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 30px;
}

.reset_button:hover {
	transition-timing-function: ease-in-out;
	transition: 0.2s;
	background-color: #6c757d;
	color: white !important;
}


.button_loco {
	border: none;
	padding: 3px 10px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	background-color: #3941bd;
	color: white;
}

.button_loco:hover {
	background-color: #3239a6;
}

// -- Summary Block -- //
.suburb_gallery {
  margin: 0 121px;
}

.suburb_gallery img {
  margin: 8px 5px;
}

// -- Lifestyle and Entertainment Blocks -- //
.lifestyle_description, .entertainment_description {
  display: inline-block;
  width: 500px;
}

.lifestyle_description p, .entertainment_description p {
  text-align: justify;
}

.lifestyle_image, .entertainment_image {
  display: inline-block;
  width: 500px;
  padding: 0 70px;
  vertical-align: top;
}

// -- Cost of Living and Renting Blocks -- //
.living_cost_description, .living_cost_breakdown, {
  display: inline-block;
  width: 500px;
}

.living_cost_description p {
  text-align: justify;
}

.living_cost_breakdown {
  padding: 0 70px;
}

// -- Renting and Transport Blocks -- //
.renting_description, .renting_stats, .transport_description, .transport_stats {
  display: inline-block;
  width: 500px;
}

.renting_description p, .transport_description p {
  text-align: justify;
}


.renting_description h3 {
  margin-top: 30px;
}

.renting_stats, .transport_stats {
  padding: 0 70px;
  vertical-align: top;
}

.stats_icon {
  display: inline-block;
  width: 100px;
}

.stats_texts {
  display: inline-block;
  vertical-align: top;
}

.stats_texts_transport {
  display: inline-block;
  vertical-align: top;
  width: 250px;
}

.stats_texts p {
  margin-bottom: 0;
}

.stats_texts_transport p {
  margin-bottom: 0;
}

// -- Transport Block -- //
.property_gallery h5 {
	margin-top: 20px;
}

.sponsor {
	font-size: 14px;
}

.domain_color {
	color: #0ea800;
}

.transport_stats_buses {
  margin-top: 50px;
}

// -- Rent Block -- //
.text_greyed {
	color: #484848;
}

.domain_link {
	text-decoration: none;
	color: #0ea800;
}

.rent_card:hover {
  transition-timing-function: ease-in-out;
  transition: 0.3s;
  box-shadow: 2px 4px 10px #BEBEBE;
}

.rent_specs {
	padding-top: 0;
}

.specs_space {
	margin-right: 8px;
	color: #0ea800;
}


.rent_card:hover a {
	text-decoration: none;
	color: #0ea800;
}

.domain_image img {
	max-width: 365px;
	max-height: 243px;
	object-fit: cover;
}

// -- Amenities -- //

.amenities_description, .amenities_mapping {
  display: inline-block;
  width: 500px;
}

.amenities_description p {
  text-align: justify;
}

.amenities_mapping {
  vertical-align: top;
  padding: 0 10px;
	margin-top: 20px;
}
