.jumbo_text_welcome {
	color: white;
  vertical-align: text-bottom;
	text-align: center;
	margin-top: 200px;
	font-size: 50px;
}

.jumbo_text_welcome {
	color: white;
  vertical-align: middle;
	text-align: center;
	font-size: 50px;
}
