<h1>Welcome to the about page</h1>
<div id="map"></div>
<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=-33.8923627,151.2758928&key=AIzaSyCb0aRyTy0pYJHdMlRAZ_MO17AXLvs9L2A", alt: "Map" %>
</p>
